<a href="https://colab.research.google.com/github/YE1NY/NLP_2023/blob/main/2_FiveTypesofData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üêπ üêæ  Five Types of Data
      Number(Ïà´Ïûê), String(Î¨∏ÏûêÏó¥), List(Î¶¨Ïä§Ìä∏), Tuple(ÌäúÌîå), Dictionary(ÏÇ¨Ï†Ñ)

Variables can be either a number or a sequence.     

1Ô∏è‚É£ Numbers can be either integers, floats, or imaginary numbers.
- interger Ï†ïÏàò : -100, -30, -11, 0, 1, 5, 100, 302, etc.
- float Ïã§Ïàò : -100.0, -30.0, -11.0, 0.0, 0.1, 2.4, 100.32, etc.
- complex Î≥µÏÜåÏàò: 1 + 5j
      ('j' represents imaginary numbers ÌóàÏàò)

2Ô∏è‚É£ Three types of seqeunce data

üÖ∞Ô∏è <font color='red'> String </font> data are non-numerical data. It is indicated by a pair of either double quotations or single quotations.
- "a", "b", "c"
- 'a', 'b', 'c'
- "042114" (cf., 042114)
- "I love Sam's pencil case"

üÖ±Ô∏è Data can be consecutively connected. The <font color='red'> list</font>-stle-type data is most common. If consecutively connected elements are protected from a modification(Î≥ÄÏö©,ÏàòÏ†ï), we especially call it a <font color='red'> tuple</font>-style-type.

- i) <font color='red'> List</font>: A list is indicated by a pair of square brackets [ ].
      ['a', 'abc', 1, '911', 'I love Python']

- ii) <font color='red'> Tuple</font>: A tuple is indicated by a pair of brackets ( ).
      ('a', 'abc', 1, '911', 'I love Python')

üëÄ Be aware that elements in a list/tuple can be numbers, strings, dictionaries, or embeded lists/tuples of any kind. Note that elements in a tuple cannot be modified but protected under no circumstances.

- [1, 'a', 'bananas', 'berries','3.14']  
- [{'Earth': 14725000000, 'Mars': 23934000000}, [1, 2, 3], ['b', '042-114', 'I like apples'], (100, 200, 300)]

3Ô∏è‚É£ A paired data with a matched <font color='blue'>key - value</font> set is called <font color = 'red'> dictionary <font/>.
- {'a':'A', 'b':'B', 'c':"C'}
- {'a':1, 'b'':2, 'c':3}
- {'d':4}

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Numbers</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown üìå Assign 1 to a variable a.

a = 1
print (a)

1

In [ ]:
#@markdown üêî Assign 1 to a variable a.
a = 1
print (a)

1

In [ ]:
#@markdown üìå Assign 2 to a variable b.
b = 2
print (b)

2

In [ ]:
#@markdown üêÖAssign 2 to a variable b.
b = 2
print (b)

2

In [ ]:
#@markdown üìå Use a print function and a Boolean operator +
print(a + b)

3

In [ ]:
#@markdown üêâ Use a print function and a Boolean operator +
print(a+b)

3

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'> Strings</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown üìå Assign a string to a variable c

c = "I love Python"
print (c)

I love Python

In [ ]:
c = "I love python"
print (c)

I love python

In [ ]:
#@markdown More on printing variables
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

a = 'Emma' # Be aware that variable a is used two times!

In [ ]:
#@markdown üìå More on printing variables
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)          #‚è∞ Remember the latest varialbe is printed if there is a redundant varialbe name.

In [ ]:

a = 'Myam'
print (a)
b = 'Nyom'
print (b)
a_b = 'Nyam'
print (a_b)
c_d = 'Ming'
print (c_d)

a = 'Î∞•Î®πÍ≥† Ïã∂Îã§'
print (a)

Myam
Nyom
Nyam
Ming
Î∞•Î®πÍ≥† Ïã∂Îã§

In [ ]:
print(a)

Î∞•Î®πÍ≥† Ïã∂Îã§

In [ ]:
thing = "I lovw sam's Pencil case. "

In [ ]:
print (thing)

I lovw sam's Pencil case.

In [ ]:
#If a variable name assinged with different values is repeated more than once, the most recent one matters.

print (a) #Be aware that variable a is 'EMMA', not 'Lori.'

Î∞•Î®πÍ≥† Ïã∂Îã§

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Lists</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown üìå Assign lists to variables such as d, e, f.

d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["ÏàòÏÑ±", "Í∏àÏÑ±", "ÏßÄÍµ¨", "ÌôîÏÑ±", "Î™©ÏÑ±", "ÌÜ†ÏÑ±", "Ï≤úÌô©ÏÑ±", "ÌòúÏôïÏÑ±" ] #ÌñâÏÑ± Ïù¥Î¶Ñ
f = [1,2,3,4,5,6,7,8,9,10]

print (d)
print(e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['ÏàòÏÑ±', 'Í∏àÏÑ±', 'ÏßÄÍµ¨', 'ÌôîÏÑ±', 'Î™©ÏÑ±', 'ÌÜ†ÏÑ±', 'Ï≤úÌô©ÏÑ±', 'ÌòúÏôïÏÑ±']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
k = {'Mercury' : 'ÏàòÏÑ±' , 'Venus' : 'Í∏àÏÑ±' , 'Earth' : 'ÏßÄÍµ¨' , 'Mars' : 'ÌôîÏÑ±' , 'jupiter' : 'Î™©ÏÑ±' , 'Saturn' : 'ÌÜ†ÏÑ±' , 'Uranus' : 'Ï≤úÌô©ÏÑ±', 'Neptune' : 'ÌòúÏôïÏÑ±'}
print(k)
m = {"Mercury ÏàòÏÑ±"}, {"Venus Í∏àÏÑ±"}, {"Earth ÏßÄÍµ¨"}, {"Mars ÌôîÏÑ±"}, {"jupiter Î™©ÏÑ±"}, {"Saturn ÌÜ†ÏÑ±"}, {"Uranus Ï≤úÌô©ÏÑ±"}, {"Neptune ÌòúÏôïÏÑ±"}
print(m)

{'Mercury': 'ÏàòÏÑ±', 'Venus': 'Í∏àÏÑ±', 'Earth': 'ÏßÄÍµ¨', 'Mars': 'ÌôîÏÑ±', 'jupiter': 'Î™©ÏÑ±', 'Saturn': 'ÌÜ†ÏÑ±', 'Uranus': 'Ï≤úÌô©ÏÑ±', 'Neptune': 'ÌòúÏôïÏÑ±'}
({'Mercury ÏàòÏÑ±'}, {'Venus Í∏àÏÑ±'}, {'Earth ÏßÄÍµ¨'}, {'Mars ÌôîÏÑ±'}, {'jupiter Î™©ÏÑ±'}, {'Saturn ÌÜ†ÏÑ±'}, {'Uranus Ï≤úÌô©ÏÑ±'}, {'Neptune ÌòúÏôïÏÑ±'})

K## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Tuples</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown üìå Assign tuples to variables such as g, h, i.

g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune") #Names of planets
h = ("ÏàòÏÑ±", "Í∏àÏÑ±", "ÏßÄÍµ¨", "ÌôîÏÑ±", "Î™©ÏÑ±", "ÌÜ†ÏÑ±", "Ï≤úÌô©ÏÑ±", "ÌòúÏôïÏÑ±" ) #ÌñâÏÑ± Ïù¥Î¶Ñ
i = (1,2,3,4,5,6,7,8,9,10)

print (g)
print(h)
print (i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('ÏàòÏÑ±', 'Í∏àÏÑ±', 'ÏßÄÍµ¨', 'ÌôîÏÑ±', 'Î™©ÏÑ±', 'ÌÜ†ÏÑ±', 'Ï≤úÌô©ÏÑ±', 'ÌòúÏôïÏÑ±')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
k = {"Mercury" : "ÏàòÏÑ±", "Venus" : "Í∏àÏÑ±", "Earth" : "ÏßÄÍµ¨", "Mars" : "ÌôîÏÑ±", "Jupiter" : "Î™©ÏÑ±", "Saturn" : "ÌÜ†ÏÑ±", "Uranus" : "Ï≤úÌô©ÏÑ±", "Neptune" : "ÌòúÏôïÏÑ±"}
print(k)
m = {"Mercuty ÏàòÏÑ±" : 1, "Venus Í∏àÏÑ±" : 2, "Earth ÏßÄÍµ¨" : 3, "Mars ÌôîÏÑ±" : 4, "Jupiter Î™©ÏÑ±" :5, "Saturn ÌÜ†ÏÑ±" : 6, "Uranus Ï≤úÌô©ÏÑ±" : 7, "Neptune ÌòúÏôïÏÑ±" : 8 }
print(m)

{'Mercury': 'ÏàòÏÑ±', 'Venus': 'Í∏àÏÑ±', 'Earth': 'ÏßÄÍµ¨', 'Mars': 'ÌôîÏÑ±', 'Jupiter': 'Î™©ÏÑ±', 'Saturn': 'ÌÜ†ÏÑ±', 'Uranus': 'Ï≤úÌô©ÏÑ±', 'Neptune': 'ÌòúÏôïÏÑ±'}
{'Mercuty ÏàòÏÑ±': 1, 'Venus Í∏àÏÑ±': 2, 'Earth ÏßÄÍµ¨': 3, 'Mars ÌôîÏÑ±': 4, 'Jupiter Î™©ÏÑ±': 5, 'Saturn ÌÜ†ÏÑ±': 6, 'Uranus Ï≤úÌô©ÏÑ±': 7, 'Neptune ÌòúÏôïÏÑ±': 8}

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Dictionaries</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown üìå Assign dictionary data to variables such as k and m.

k = {'Mercury':'ÏàòÏÑ±', 'Venus':'Í∏àÏÑ±', 'Earth':'ÏßÄÍµ¨', 'Mars':'ÌôîÏÑ±', 'Jupiter':'Î™©ÏÑ±', 'Saturn':'ÌÜ†ÏÑ±', 'Uranus':'Î™ÖÏôïÏÑ±', 'Neptune':'Ìï¥ÏôïÏÑ±'} #key in English: value in Korean

m = {'Mercury ÏàòÏÑ±':1, 'Venus Í∏àÏÑ±':2, 'Earth ÏßÄÍµ¨':3, 'Mars ÌôîÏÑ±':4, 'Jupiter Î™©ÏÑ±':5, 'Saturn ÌÜ†ÏÑ±':6, 'Uranus Î™ÖÏôïÏÑ±':7, 'Neptune Ìï¥ÏôïÏÑ±':8} # i) order of planets from the Sun, ii) key in English and Korean, iii) value in integers

print (k)
print (m)

{'Mercury': 'ÏàòÏÑ±', 'Venus': 'Í∏àÏÑ±', 'Earth': 'ÏßÄÍµ¨', 'Mars': 'ÌôîÏÑ±', 'Jupiter': 'Î™©ÏÑ±', 'Saturn': 'ÌÜ†ÏÑ±', 'Uranus': 'Î™ÖÏôïÏÑ±', 'Neptune': 'Ìï¥ÏôïÏÑ±'}
{'Mercury ÏàòÏÑ±': 1, 'Venus Í∏àÏÑ±': 2, 'Earth ÏßÄÍµ¨': 3, 'Mars ÌôîÏÑ±': 4, 'Jupiter Î™©ÏÑ±': 5, 'Saturn ÌÜ†ÏÑ±': 6, 'Uranus Î™ÖÏôïÏÑ±': 7, 'Neptune Ìï¥ÏôïÏÑ±': 8}

In [ ]:
#@markdown üìå Print the value of key 'a' ('a' as string data)
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print(dict['a'])
dict['a']=7
print(dict)

{'a': 1, 'b': 2, 'c': 3}
1
{'a': 7, 'b': 2, 'c': 3}

In [ ]:
dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7

print(dict)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}

In [ ]:
#@markdown üìå Replacing a value of your dictionary data with another

dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}

In [ ]:
dict_data = {'c':10, 'b':20, 'a':30}
dict_data['a'] = 300
print(dict_data)

{'c': 10, 'b': 20, 'a': 300}

In [ ]:
dict_data = {'c': 10, 'b': 20, 'a': 300}
print(dict_data)

{'c': 10, 'b': 20, 'a': 300}